/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */  
//Custom Font
@font-face {
    font-family: "Checkbook";
    src: url("../fonts/Checkbook-1K2.ttf"), format("truetype");
} 
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

// Font Variables
$checkbook: "Checkbook", "Orbitron", sans-serif;
$white-color: #ECE7EE;
$black-color: #04003b;
$red-color: #740000;

body {
    font-family: $checkbook;
    color: $red-color;
    margin: 0;
    min-height: 100vh;
    background: url("Blue BG.png") $black-color;
    background-size: cover;
    display: flex;
}

h1 {
    font-size: 5rem;
}

.countdown-container {
    display: flex;
}