/*
COLOR PALETTE 
drkblue #00113f
blue #0489ee
blackish #000211
whiteish #fdecdc
orange #f19003
yellow #fed410
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

main {
    z-index: 1;
}

body {    
    margin: 0;
    min-height: 100vh;
    
    background: #00113f;
    background-image: url("../images/BlueBG.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
}

h1 {
    font-size: 4rem;
    color: #f19003;
    text-shadow: -3px -3px #fdecdc;
}
h2{
    z-index: 1;
}
/* h3 should provide information on objects on HOVER */
h3 {

}

button {
    background-color: #f19003;
    border: none;
    color: #fdecdc;
    font-family: 'Orbitron', sans-serif;
    border-radius: 2px;
    box-shadow: 0px 0px 20px 0px #fdecdc;
    transition-duration: 1.5s;
    cursor: pointer;
}

/* COUNTDOWN TIMER */
.countdown-container {
    display: flex;
    text-align: center;
    z-index: 1;
}

.datetime {
    text-align: center;
}

.digit {
    font-size: 5rem;
    line-height: 1;
    margin: 0 1rem;
}

/* CARDS FOR IMAGES */
.asteroid-info {
    width: 100%;
    position: fixed;
    bottom: 10%;
    z-index: -1;
}
    .asteroid-info img {
        position: relative;
        margin: 10px;
        padding: 10px;
    }

.asteroid-distance {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.show-size {
    font-size: 1rem;
    z-index: 1;
}
.show-size:hover {
    background-color: #fdecdc;
    color: #0489ee;
    transform: translate(0px, 2px);
}

.asteroid-size {
    position: fixed;
    bottom: 33%;
    right: 25%;
    border: #0489ee 2px solid;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00113f;
    background-color: hsla(229, 100%, 90%, 0.3);
    color: #fdecdc;
    text-shadow: 1px 1px #00113f;
    text-align: center;
}

/* IMAGES */
.earth {
    height: 500px;
    width: 500px;
    position: absolute;
    left: -33%;
    bottom: 0;
}
.lessthanmoon {
    height: 35px;
    font-weight: 35px;
    left: -33%;
}
.moon {
    height: 135px;
    font-weight: 135px;
    left: -15%;
}
.morethanmoon {
    height: 35px;
    font-weight: 35px;
    left: -10%;
}

.asteroid2 {
    height: 80px;
    weight: 80px;
}
.pyramids {
    height: 75px;
    width: 100;
}

/* COPYRIGHT */
.copyright {
    position: fixed;
    bottom: 10px;
    right: 50px;
}