/*
COLOR PALETTE 
drkblue #00113f
blue #0489ee
blackish #000211
whiteish #fdecdc
orange #f19003
yellow #fed410
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {    
    margin: 0;
    min-height: 100vh;
    
    background: #00113f;
    background-image: url("../images/BlueBG.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
}

h1 {
    font-size: 4rem;
    color: #f19003;
    text-shadow: -3px -3px #fdecdc;
}
h2 {

}

.countdown-container {
    display: flex;
    text-align: center;
}

.datetime {
    text-align: center;
}

.digit {
    font-size: 5rem;
    line-height: 1;
    margin: 0 1rem;
}

.astroid-info {
    width: 100%;
    position: fixed;
    bottom: 10%;
}
    .astroid-info img {
        position: relative;
        margin: 10px;
        padding: 10px;
    }

.astroid-distance {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.astroid-size {
    position: fixed;
    bottom: 50px;
    left: 50px;
}
    
.copyright {
    position: fixed;
    bottom: 10px;
    right: 50px;
}

/* RED THEME */
tint the background image
.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); 
}